<div class="search-div">
  <button mat-raised-button (click)="onCreate()">
    <mat-icon>add</mat-icon>Agregar
  </button>
  <mat-form-field class="search-form-field" appearance="outline">
    <mat-label>Buscar por: Alumno, Fecha</mat-label>
    <input
      matInput
      placeholder="Buscar"
      autocomplete="off"
      (keyup)="applyFilter()"
      [(ngModel)]="searchKey"
    />
    <button
      mat-button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="onSearchClear()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- Alumno Column -->
    <ng-container matColumnDef="Alumno">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Alumno</th>
      <td mat-cell *matCellDef="let row">
        {{ row.alumno_nombre }}
      </td>
    </ng-container>
    <!-- Fecha Column -->
    <ng-container matColumnDef="Fecha">
      <th mat-header-cell *matHeaderCellDef>Fecha</th>
      <td mat-cell *matCellDef="let row">{{ row.fecha }}</td>
    </ng-container>
    <!-- Concepto Column -->
    <ng-container matColumnDef="Concepto">
      <th mat-header-cell *matHeaderCellDef>Concepto</th>
      <td mat-cell *matCellDef="let row">
        {{ row.concepto }}
      </td>
    </ng-container>
    <!-- Monto Column -->
    <ng-container matColumnDef="Monto">
      <th mat-header-cell *matHeaderCellDef>Monto</th>
      <td mat-cell *matCellDef="let row">{{ "$" + row.monto }}</td>
    </ng-container>
    <!-- Acciones Column -->
    <ng-container matColumnDef="Acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let row">
        <div class="actions">
          <button
            mat-icon-button
            matTooltip="Editar"
            (click)="onEdit(row.id)"
            id="edit"
          >
            <mat-icon>create</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
</div>
