<mat-toolbar>
  <span *ngIf="!isEdited">Agregar Alumno</span>
  <span *ngIf="isEdited">Editar Alumno</span>
  <span class="fill-remaining-space"></span>
  <button
    class="btn-dialog-close"
    mat-stroked-button
    (click)="onClose()"
    tabIndex="-1"
  >
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>

<h3>Los campos marcados con * son obligatorios.</h3>
<!-- Animation -->
<app-loading-spiner *ngIf="this.showSpinner"></app-loading-spiner>

<form
  [formGroup]="service.form"
  class="normal-form"
  (submit)="onSubmit()"
  *ngIf="!showSpinner"
>
  <h1>Datos personales</h1>
  <mat-grid-list cols="2" rowHeight="400px">
    <mat-grid-tile>
      <div class="controles-container">
        <input type="hidden" formControlName="$key" />
        <mat-form-field appearance="outline">
          <mat-label>Nombre*</mat-label>
          <input
            type="text"
            matInput
            placeholder="Nombre"
            [errorStateMatcher]="matcher"
            formControlName="nombre"
          />
          <mat-error *ngIf="service.form.controls.nombre.hasError('required')">
            El nombre es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Primer Apellido*</mat-label>
          <input
            type="text"
            matInput
            placeholder="Primer Apellido"
            [errorStateMatcher]="matcher"
            formControlName="primerApellido"
          />
          <mat-error
            *ngIf="service.form.controls.primerApellido.hasError('required')"
          >
            El primer apellido es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Segundo Apellido</mat-label>
          <input
            type="text"
            matInput
            placeholder="Segundo Apellido"
            [errorStateMatcher]="matcher"
            formControlName="segundoApellido"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Numero de telefono*</mat-label>
          <input
            type="text"
            matInput
            placeholder="Numero de telefono"
            [errorStateMatcher]="matcher"
            formControlName="n_telefono"
          />
          <mat-error
            *ngIf="
              service.form.controls.n_telefono.errors &&
              !service.form.controls.n_telefono.hasError('required')
            "
          >
            El telefono debe tener <strong>10 digitos</strong>
          </mat-error>
          <mat-error
            *ngIf="service.form.controls.n_telefono.hasError('required')"
          >
            El numero de telefono es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="controles-container">
        <mat-form-field appearance="outline">
          <mat-label>Fecha de nacimiento*</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            placeholder="Fecha de nacimiento"
            [errorStateMatcher]="matcher"
            formControlName="fecha_nacimiento"
            [min]="minDate"
            [max]="maxDate"
            readonly
          />
          <mat-error
            *ngIf="service.form.controls.fecha_nacimiento.hasError('required')"
          >
            La fecha de nacimiento es <strong>requerida</strong>
          </mat-error>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Correo*</mat-label>
          <input
            type="email"
            matInput
            placeholder="Correo"
            [errorStateMatcher]="matcher"
            formControlName="correo"
          />
          <mat-error
            *ngIf="
              service.form.controls.correo.hasError('email') &&
              !service.form.controls.correo.hasError('required')
            "
          >
            Ingrese una direccion de correo <strong>valida</strong>
          </mat-error>
          <mat-error *ngIf="service.form.controls.correo.hasError('required')">
            El correo es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
        <!-- Grado, Dan -->
        <mat-form-field appearance="outline">
          <mat-label>Grado*</mat-label>
          <mat-select formControlName="grado">
            <mat-option value="1">10° KUP - Blanco</mat-option>
            <mat-option value="2">9° KUP - Blanca avanzada</mat-option>
            <mat-option value="3">8º KUP - Naranja</mat-option>
            <mat-option value="4">7º KUP - Naranja Avanzada</mat-option>
            <mat-option value="5">6º KUP - Verde</mat-option>
            <mat-option value="6">5º KUP - Verde Avanzada</mat-option>
            <mat-option value="7">4º KUP - Azul</mat-option>
            <mat-option value="8">3º KUP - Azul Avanzada</mat-option>
            <mat-option value="9">2º KUP - Rojo</mat-option>
            <mat-option value="10">1º KUP - Rojo Avanzada</mat-option>
            <mat-option value="11">1º DAN o POOM - Negro</mat-option>
          </mat-select>
          <mat-error *ngIf="service.form.controls.grado.hasError('required')">
            El grado es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
        <div class="add-bottom-padding">
          <label>Genero*: </label>
          <mat-radio-group formControlName="genero">
            <mat-radio-button value="1" color="primary"
              >Masculino</mat-radio-button
            >
            <mat-radio-button value="2" color="primary"
              >Femenino</mat-radio-button
            >
          </mat-radio-group>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  <h1>Datos del domicilio</h1>
  <mat-grid-list cols="2" rowHeight="380px">
    <mat-grid-tile>
      <div class="controles-container">
        <mat-form-field appearance="outline">
          <mat-label>Nombre de la calle*</mat-label>
          <input
            type="text"
            matInput
            formControlName="nombre_Calle"
            [errorStateMatcher]="matcher"
          />
          <mat-error
            *ngIf="service.form.controls.nombre_Calle.hasError('required')"
          >
            El nombre de la calle es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>N. de casa*</mat-label>
          <input
            type="text"
            matInput
            formControlName="nCasa"
            [errorStateMatcher]="matcher"
          />
          <mat-error *ngIf="service.form.controls.nCasa.hasError('required')">
            El numero de la casa es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Asentamiento*</mat-label>
          <input
            type="text"
            matInput
            formControlName="asentamiento"
            [errorStateMatcher]="matcher"
          />
          <mat-error
            *ngIf="service.form.controls.asentamiento.hasError('required')"
          >
            El nombre del asentamiento es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Tipo de asentamiento*</mat-label>
          <mat-select formControlName="tipo_asentamiento">
            <mat-option value="1">Colonia</mat-option>
            <mat-option value="2">Fraccionamiento</mat-option>
            <mat-option value="3">Barrio</mat-option>
            <mat-option value="4">Rancheria</mat-option>
          </mat-select>
          <mat-error
            *ngIf="service.form.controls.tipo_asentamiento.hasError('required')"
          >
            El tipo de asentamiento es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="controles-container">
        <mat-form-field appearance="outline">
          <mat-label>Ciudad*</mat-label>
          <input
            type="text"
            matInput
            formControlName="ciudad"
            [errorStateMatcher]="matcher"
          />

          <mat-error *ngIf="service.form.controls.ciudad.hasError('required')">
            El nombre de la ciudad <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Municipio*</mat-label>
          <mat-select formControlName="municipio">
            <mat-option value="1">Santiago Suchilquitongo</mat-option>
            <mat-option value="2">San Francisco Telixtlahuaca</mat-option>
            <mat-option value="3">San Pablo Huitzo</mat-option>
            <mat-option value="4">Magdalena Apasco</mat-option>
          </mat-select>

          <mat-error
            *ngIf="service.form.controls.municipio.hasError('required')"
          >
            El nombre del municipio es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Codigo Postal*</mat-label>
          <input
            type="text"
            matInput
            formControlName="codigoPostal"
            [errorStateMatcher]="matcher"
          />
          <mat-error
            *ngIf="
              service.form.controls.codigoPostal.hasError('pattern') &&
              !service.form.controls.codigoPostal.hasError('required')
            "
          >
            El codigo postal debe contener solo <strong>numeros</strong>
          </mat-error>
          <mat-error
            *ngIf="service.form.controls.codigoPostal.hasError('required')"
          >
            El codigo postal es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <h1>Clase</h1>
  <mat-form-field appearance="outline" class="clase">
    <mat-label>Clase</mat-label>
    <mat-select formControlName="clase" [errorStateMatcher]="matcher">
      <mat-option
        *ngFor="let item of data | async | select: 'allClases'"
        [value]="item.id"
      >
        {{
          "De " +
            item.hora_inicio +
            " a " +
            item.hora_termino +
            ", " +
            item.instructor
        }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="service.form.controls.clase.hasError('required')">
      La clase es <strong> requerido </strong>
    </mat-error>
  </mat-form-field>
  <div class="save">
    <span></span>
    <span class="fill-remaining-space"></span>
    <button
      [disabled]="!service.form.valid"
      mat-raised-button
      color="primary"
      tabIndex="-1"
    >
      Guardar
    </button>
  </div>
</form>
