<mat-toolbar>
  <span *ngIf="!isEdited">Agregar Torneo</span>

  <span *ngIf="isEdited">Editar Torneo</span>
  <span class="fill-remaining-space"></span>
  <button
    class="btn-dialog-close"
    mat-stroked-button
    (click)="onClose()"
    tabIndex="-1"
  >
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>

<h3>Los campos marcados con * son obligatorios.</h3>
<!-- Animation -->
<app-loading-spiner *ngIf="this.showSpinner"></app-loading-spiner>

<form
  [formGroup]="this.service.form"
  class="normal-form"
  (submit)="onSubmit()"
  *ngIf="!showSpinner"
>
  <mat-grid-list cols="2" rowHeight="200px">
    <mat-grid-tile>
      <div class="controles-container">
        <input type="hidden" formControlName="$key" />
        <!-- Nombre -->
        <mat-form-field appearance="outline">
          <mat-label>Nombre*</mat-label>
          <input
            type="text"
            matInput
            placeholder="Nombre"
            [errorStateMatcher]="matcher"
            formControlName="nombre"
          />
          <mat-error
            *ngIf="this.service.form.controls.nombre.hasError('required')"
          >
            El nombre es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
        <!-- Lugar -->
        <mat-form-field appearance="outline">
          <mat-label>Lugar*</mat-label>
          <input
            type="text"
            matInput
            placeholder="Lugar"
            [errorStateMatcher]="matcher"
            formControlName="lugar"
          />
          <mat-error
            *ngIf="this.service.form.controls.lugar.hasError('required')"
          >
            El lugar es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="controles-container">
        <!-- Fecha -->
        <mat-form-field appearance="outline">
          <mat-label>Fecha*</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            placeholder="Fecha"
            [errorStateMatcher]="matcher"
            formControlName="fecha"
            readonly
          />
          <mat-error
            *ngIf="this.service.form.controls.fecha.hasError('required')"
          >
            La fecha es <strong>requerida</strong>
          </mat-error>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <!-- Hora -->
        <mat-form-field appearance="outline">
          <mat-label>Hora </mat-label>
          <input
            type="time"
            matInput
            placeholder="Hora de inicio"
            formControlName="hora"
            [errorStateMatcher]="matcher"
          />
          <mat-error *ngIf="service.form.controls.hora.hasError('required')">
            La hora es <strong>requerida</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  <div class="save">
    <span></span>
    <span class="fill-remaining-space"></span>
    <button
      [disabled]="!this.service.form.valid"
      mat-raised-button
      color="primary"
      tabIndex="-1"
    >
      Guardar
    </button>
  </div>
</form>
