<div class="search-div">
  <mat-form-field class="search-form-field" appearance="outline">
    <mat-label>Buscar por: Nombre, Apellido o ID</mat-label>
    <input
      matInput
      placeholder="Buscar"
      autocomplete="off"
      (keyup)="applyFilter()"
      [(ngModel)]="searchKey"
    />
    <button
      mat-button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="onSearchClear()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button
    mat-raised-button
    matTooltip="Imprimir reporte"
    (click)="toPrint()"
    class="print"
    color="primary"
  >
    <mat-icon>print</mat-icon>
  </button>
  <mat-form-field appearance="outline" class="grado">
    <mat-label>Grado*</mat-label>
    <mat-select [(value)]="selected">
      <mat-option value="0">Todos</mat-option>
      <mat-option value="1">10° KUP - Blanco</mat-option>
      <mat-option value="2">9° KUP - Blanca avanzada</mat-option>
      <mat-option value="3">8º KUP - Naranja</mat-option>
      <mat-option value="4">7º KUP - Naranja Avanzada</mat-option>
      <mat-option value="5">6º KUP - Verde</mat-option>
      <mat-option value="6">5º KUP - Verde Avanzada</mat-option>
      <mat-option value="7">4º KUP - Azul</mat-option>
      <mat-option value="8">3º KUP - Azul Avanzada</mat-option>
      <mat-option value="9">2º KUP - Rojo</mat-option>
      <mat-option value="10">1º KUP - Rojo Avanzada</mat-option>
      <mat-option value="11">1º DAN o POOM - Negro</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- ID Column -->
    <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let row">{{ row.fakeId }}</td>
    </ng-container>
    <!-- Nombre Column -->
    <ng-container matColumnDef="Nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let row">{{ row.nombre }}</td>
    </ng-container>
    <!-- Apellidos Column -->
    <ng-container matColumnDef="Apellidos">
      <th mat-header-cell *matHeaderCellDef>Apellidos</th>
      <td mat-cell *matCellDef="let row">
        {{ row.primerApellido + " " + (row.segundoApellido || "") }}
      </td>
    </ng-container>
    <!-- Correo Column -->
    <ng-container matColumnDef="N. de Telefono">
      <th mat-header-cell *matHeaderCellDef>N. de Telefono</th>
      <td mat-cell *matCellDef="let row">{{ row.n_telefono }}</td>
    </ng-container>
    <!-- Acciones Column -->
    <ng-container matColumnDef="Acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let row">
        <div class="actions">
          <button
            mat-icon-button
            matTooltip="Mas informacion"
            (click)="onLaunch(row.id)"
            id="launch"
          >
            <mat-icon>launch</mat-icon>
          </button>
          <button
            mat-icon-button
            matTooltip="Editar"
            (click)="onEdit(row.id)"
            id="edit"
          >
            <mat-icon>create</mat-icon>
          </button>
          <button
            mat-icon-button
            matTooltip="Eliminar"
            (click)="onDelete(row.id)"
            id="delete"
          >
            <mat-icon>delete_outline</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
</div>
