.search-div {
  padding: 0px 10px;
  margin: 0px 0px 10px 0px;
}
.search-form-field {
  width: 60%;
  padding: 5px 10px;
  border-radius: 5px;
}
.search-form-field div.mat-form-field-underline {
  display: none;
}
.search-form-field div.mat-form-field-infix {
  border-top: 0px;
}

.search-form-field div.mat-form-field-suffix button {
  height: 32px;
  width: 32px;
}

td,
th {
  width: 25%;
}

.actions {
  display: flex;
}

#launch {
  color: #007bff;
}

#edit {
  color: #ffc107;
}

#delete {
  color: #dc3545;
}

.print {
  float: right !important;
  margin-top: 20px;
  margin-left: 20px;
}

.grado {
  float: right !important;
  width: 300px;
}
