<mat-toolbar>
  <span *ngIf="!isEdit">Agregar clase</span>
  <span *ngIf="isEdit">Editar clase</span>
  <span class="fill-remaining-space"></span>
  <button
    class="btn-dialog-close"
    mat-stroked-button
    (click)="onClose()"
    tabIndex="-1"
  >
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>

<app-loading-spiner *ngIf="loading"></app-loading-spiner>
<form
  [formGroup]="_horario.form"
  class="normal-form"
  (submit)="onSubmit()"
  *ngIf="!loading"
>
  <mat-grid-list cols="1" rowHeight="100px">
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Hora de inicio</mat-label>
        <input
          type="time"
          matInput
          placeholder="Hora de inicio"
          formControlName="hora_inicio"
          [errorStateMatcher]="matcher"
        />
        <mat-error
          *ngIf="_horario.form.controls.hora_inicio.hasError('required')"
        >
          La hora de inicio es <strong>requerida</strong>
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Hora de fin</mat-label>
        <input
          type="time"
          matInput
          placeholder="Hora de fin"
          formControlName="hora_fin"
          [errorStateMatcher]="matcher"
        />
        <mat-error *ngIf="_horario.form.controls.hora_fin.hasError('required')">
          La hora de fin es <strong>requerida</strong>
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Instructor</mat-label>
        <mat-select formControlName="instructor" [errorStateMatcher]="matcher">
          <mat-option
            *ngFor="let item of data | async | select: 'allInstructors'"
            [value]="item._id"
          >
            {{
              item.nombre +
                " " +
                item.primerApellido +
                " " +
                item.segundoApellido
            }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="_horario.form.controls.instructor.hasError('required')"
        >
          El instructor es <strong> requerido </strong>
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="save">
    <span></span>
    <span class="fill-remaining-space"></span>
    <button
      [disabled]="!_horario.form.valid"
      mat-raised-button
      color="primary"
      tabIndex="-1"
    >
      <span *ngIf="!isEdit">Agregar</span>
      <span *ngIf="isEdit">Editar</span>
    </button>
  </div>
</form>
