.search-div {
  padding: 0px 10px;
  margin: 0px 0px 10px 0px;
}
.search-form-field {
  width: 60%;
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
}
.search-form-field div.mat-form-field-underline {
  display: none;
}
.search-form-field div.mat-form-field-infix {
  border-top: 0px;
}

.search-form-field div.mat-form-field-suffix button {
  height: 32px;
  width: 32px;
}

td,
th {
  width: 20%;
}

.actions {
  display: flex;
}

#launch {
  color: #007bff;
}
