<div class="search-div">
  <button mat-raised-button (click)="onCreate()">
    <mat-icon>add</mat-icon>Agregar
  </button>
  <mat-form-field class="search-form-field" appearance="outline">
    <mat-label>Buscar por: Nombre, Apellido o ID</mat-label>
    <input
      matInput
      placeholder="Buscar"
      autocomplete="off"
      (keyup)="applyFilter()"
      [(ngModel)]="searchKey"
    />
    <button
      mat-button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="onSearchClear()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- ID Column -->
    <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let row">{{ row.fakeId }}</td>
    </ng-container>
    <!-- Nombre Column -->
    <ng-container matColumnDef="Nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let row">{{ row.nombre }}</td>
    </ng-container>
    <!-- Apellidos Column -->
    <ng-container matColumnDef="Apellidos">
      <th mat-header-cell *matHeaderCellDef>Apellidos</th>
      <td mat-cell *matCellDef="let row">
        {{ row.primerApellido + " " + (row.segundoApellido || "") }}
      </td>
    </ng-container>
    <!-- Estado Column -->
    <ng-container matColumnDef="Estado">
      <th mat-header-cell *matHeaderCellDef>Estado</th>
      <td mat-cell *matCellDef="let row">{{ row.estado }}</td>
    </ng-container>
    <!-- Correo Column -->
    <ng-container matColumnDef="N. de Telefono">
      <th mat-header-cell *matHeaderCellDef>N. de Telefono</th>
      <td mat-cell *matCellDef="let row">{{ row.n_telefono }}</td>
    </ng-container>
    <!-- Acciones Column -->
    <ng-container matColumnDef="Acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let row">
        <div class="actions">
          <button
            mat-icon-button
            matTooltip="Mas informacion"
            (click)="onLaunch(row.id)"
            id="launch"
          >
            <mat-icon>launch</mat-icon>
          </button>
          <button
            mat-icon-button
            matTooltip="Cambiar estado"
            (click)="changeStatus(row.id, row.status)"
            id="launch"
          >
            <mat-icon>swap_horiz</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
</div>
