<div class="search-div">
  <button mat-raised-button (click)="onCreate()">
    <mat-icon>add</mat-icon>Agregar
  </button>
  <mat-form-field class="search-form-field" appearance="outline">
    <mat-label>Buscar por: Instructor</mat-label>
    <input
      matInput
      placeholder="Buscar"
      autocomplete="off"
      (keyup)="applyFilter()"
      [(ngModel)]="keyString"
    />
    <button
      mat-button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="onSearchClear()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- Hora de inicio Column -->
    <ng-container matColumnDef="inicio">
      <th mat-header-cell *matHeaderCellDef>Hora de inicio</th>
      <td mat-cell *matCellDef="let row">{{ row.inicio }}</td>
    </ng-container>
    <!-- Hora de fin Column -->
    <ng-container matColumnDef="fin">
      <th mat-header-cell *matHeaderCellDef>Hora de fin</th>
      <td mat-cell *matCellDef="let row">
        {{ row.fin }}
      </td>
    </ng-container>
    <!-- Instructor Column -->
    <ng-container matColumnDef="instructor">
      <th mat-header-cell *matHeaderCellDef>Instructor</th>
      <td mat-cell *matCellDef="let row">{{ row.instructor }}</td>
    </ng-container>
    <!-- Acciones Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let row">
        <div class="actions">
          <button
            mat-icon-button
            matTooltip="Mas informacion"
            (click)="onLaunch(row.id)"
            id="launch"
          >
            <mat-icon>launch</mat-icon>
          </button>
          <button
            mat-icon-button
            matTooltip="Editar"
            (click)="onEdit(row.id)"
            id="edit"
          >
            <mat-icon>create</mat-icon>
          </button>
          <button
            mat-icon-button
            matTooltip="Eliminar"
            (click)="onDelete(row.id)"
            id="delete"
          >
            <mat-icon>delete_outline</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
</div>
