<mat-toolbar>
  <span>Detalles de la clase</span>
  <span class="fill-remaining-space"></span>
  <button
    class="btn-dialog-close"
    mat-stroked-button
    (click)="onClose()"
    tabIndex="-1"
  >
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>

<app-loading-spiner *ngIf="loading"></app-loading-spiner>
<form [formGroup]="_horario.form" class="normal-form" *ngIf="!loading">
  <mat-grid-list cols="1" rowHeight="100px">
    <mat-grid-tile class="hora">
      <mat-form-field appearance="outline">
        <mat-label>Hora de inicio</mat-label>
        <input
          type="time"
          matInput
          placeholder="Hora de inicio"
          formControlName="hora_inicio"
          readonly
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Hora de fin</mat-label>
        <input
          type="time"
          matInput
          placeholder="Hora de fin"
          formControlName="hora_fin"
          readonly
        />
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Instructor</mat-label>
        <mat-select formControlName="instructor" [errorStateMatcher]="matcher">
          <mat-option
            *ngFor="let item of data | async | select: 'allInstructors'"
            [value]="item._id"
            disabled
          >
            {{
              item.nombre +
                " " +
                item.primerApellido +
                " " +
                item.segundoApellido
            }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="_horario.form.controls.instructor.hasError('required')"
        >
          El instructor es <strong> requerido </strong>
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>

  <span *ngFor="let w of data | async | select: 'instructor'">{{ w }}</span>
</form>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let row">{{ row.fakeId }}</td>
    </ng-container>
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let row">
        {{ row.nombre + " " + row.primerApellido + " " + row.segundoApellido }}
      </td>
    </ng-container>
    <ng-container matColumnDef="grado">
      <th mat-header-cell *matHeaderCellDef>Grado</th>
      <td mat-cell *matCellDef="let row">{{ grado(row.grado) }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
</div>
