<div class="d-flex flex-row">
  <div class="button">
    <button mat-raised-button (click)="onCreate()" style="margin-top: 20px">
      <mat-icon>add</mat-icon>Agregar
    </button>
  </div>
  <mat-form-field class="search-form-field" appearance="outline">
    <mat-label>Buscar por: Nombre, Apellido o ID</mat-label>
    <input
      matInput
      placeholder="Buscar"
      autocomplete="off"
      (keyup)="applyFilter()"
      [(ngModel)]="keyString"
    />
    <button
      mat-button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="onSearchClear()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div class="mat-elevation-z8 table-responsive">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- ID Column -->
    <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let row">{{ row.fakeId }}</td>
    </ng-container>
    <!-- Nombre Column -->
    <ng-container matColumnDef="Nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let row">{{ row.nombre }}</td>
    </ng-container>
    <!-- Apellidos Column -->
    <ng-container matColumnDef="Apellidos">
      <th mat-header-cell *matHeaderCellDef>Apellidos</th>
      <td mat-cell *matCellDef="let row">
        {{ row.primerApellido + " " + (row.segundoApellido || "") }}
      </td>
    </ng-container>
    <!-- Correo Column -->
    <ng-container matColumnDef="Correo">
      <th mat-header-cell *matHeaderCellDef>Correo</th>
      <td mat-cell *matCellDef="let row">{{ row.correo }}</td>
    </ng-container>
    <!-- Acciones Column -->
    <ng-container matColumnDef="Acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let row">
        <div class="actions">
          <button
            mat-icon-button
            matTooltip="Mas informacion"
            (click)="onLaunch(row._id)"
            id="launch"
          >
            <mat-icon>launch</mat-icon>
          </button>
          <button
            mat-icon-button
            matTooltip="Editar"
            (click)="onEdit(row._id)"
            id="edit"
          >
            <mat-icon>create</mat-icon>
          </button>
          <button
            mat-icon-button
            matTooltip="Eliminar"
            (click)="onDelete(row._id)"
            id="delete"
          >
            <mat-icon>delete_outline</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
</div>
