<mat-toolbar>
  <span>Datos del Torneo</span>
  <span class="fill-remaining-space"></span>
  <button
    class="btn-dialog-close"
    mat-stroked-button
    (click)="onClose()"
    tabIndex="-1"
  >
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>

<!-- Animation -->
<app-loading-spiner *ngIf="this.showSpinner"></app-loading-spiner>

<form
  [formGroup]="this.service.form"
  class="normal-form"
  (submit)="onSubmit()"
  *ngIf="!showSpinner"
>
  <mat-grid-list cols="2" rowHeight="200px">
    <mat-grid-tile>
      <div class="controles-container">
        <input type="hidden" formControlName="$key" />
        <!-- Nombre -->
        <mat-form-field appearance="outline">
          <mat-label>Nombre*</mat-label>
          <input
            type="text"
            matInput
            placeholder="Nombre"
            formControlName="nombre"
            readonly
          />
        </mat-form-field>
        <!-- Lugar -->
        <mat-form-field appearance="outline">
          <mat-label>Lugar*</mat-label>
          <input
            type="text"
            matInput
            placeholder="Lugar"
            formControlName="lugar"
            readonly
          />
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="controles-container">
        <!-- Fecha -->
        <mat-form-field appearance="outline">
          <mat-label>Fecha*</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            placeholder="Fecha"
            formControlName="fecha"
            readonly
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
            disabled
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <!-- Hora -->
        <mat-form-field appearance="outline">
          <mat-label>Hora </mat-label>
          <input
            type="time"
            matInput
            placeholder="Hora de inicio"
            formControlName="hora"
            readonly
          />
        </mat-form-field>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>
<h1>Alumnos registrados</h1>
<div class="mat-elevation-z8" *ngIf="!showSpinner">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- ID Column -->
    <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let row">{{ row.fakeId }}</td>
    </ng-container>
    <!-- Nombre Column -->
    <ng-container matColumnDef="Nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let row">
        {{
          row.nombre +
            " " +
            row.primerApellido +
            " " +
            (row.segundoApellido || "")
        }}
      </td>
    </ng-container>
    <!-- Grado Column -->
    <ng-container matColumnDef="Grado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Grado</th>
      <td mat-cell *matCellDef="let row">{{ grado(row.grado) }}</td>
    </ng-container>
    <!-- Telefono Column -->
    <ng-container matColumnDef="Telefono">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Telefono</th>
      <td mat-cell *matCellDef="let row">{{ row.n_telefono }}</td>
    </ng-container>

    <!-- Acciones Column -->
    <ng-container matColumnDef="Acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let row">
        <div class="actions">
          <button
            mat-icon-button
            matTooltip="Eliminar del torneo"
            (click)="onDelete(row.id)"
            id="delete"
            *ngIf="!isHistorial"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
</div>
