<mat-toolbar>
  <span style="font-weight: bold">Detalles</span>
  <span class="fill-remaining-space"></span>
  <button
    class="btn-dialog-close"
    mat-stroked-button
    (click)="onClose()"
    tabIndex="-1"
  >
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>

<app-loading-spiner *ngIf="this.showSpinner"></app-loading-spiner>
<form
  [formGroup]="service.form"
  class="normal-form"
  (submit)="onSubmit()"
  *ngIf="!showSpinner"
>
  <div style="text-align: end;">
    <button
      mat-icon-button
      matTooltip="Cambiar contrasena"
      style="color: gray"
      (click)="updatePass()"
    >
      <mat-icon>vpn_key</mat-icon>
    </button>
  </div>

  <h5>Datos personales</h5>
  <input type="hidden" formControlName="$key" />
  <div class="row">
    <mat-form-field appearance="outline" class="col-md-6">
      <mat-label>Nombre</mat-label>
      <input
        type="text"
        matInput
        placeholder="Nombre"
        formControlName="nombre"
        readonly
      />
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-md-6">
      <mat-label>Primer Apellido</mat-label>
      <input
        type="text"
        matInput
        placeholder="Primer Apellido"
        formControlName="primerApellido"
        readonly
      />
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="outline" class="col-md-6">
      <mat-label>Segundo Apellido</mat-label>
      <input
        type="text"
        matInput
        placeholder="Segundo Apellido"
        formControlName="segundoApellido"
        readonly
      />
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-md-6">
      <mat-label>Numero de telefono</mat-label>
      <input
        type="text"
        matInput
        placeholder="Numero de telefono"
        formControlName="n_telefono"
        readonly
      />
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="outline" class="col-md-6">
      <mat-label>Fecha de nacimiento</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        placeholder="Fecha de nacimiento"
        formControlName="fecha_nacimiento"
        readonly
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="picker"
        disabled
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-md-6">
      <mat-label>Correo</mat-label>
      <input
        type="email"
        matInput
        placeholder="Correo"
        formControlName="correo"
        readonly
      />
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="outline" class="col-md-6">
      <mat-label>Grado</mat-label>
      <input type="text" matInput value="{{ grado(grad) }}" readonly />
    </mat-form-field>
    <div class="col-md-6">
      <label>Genero: </label>
      <mat-radio-group formControlName="genero">
        <mat-radio-button value="1" color="primary" disabled
          >Masculino</mat-radio-button
        >
        <mat-radio-button value="2" color="primary" disabled
          >Femenino</mat-radio-button
        >
      </mat-radio-group>
    </div>
  </div>

  <h5>Datos del domicilio</h5>
  <div class="row">
    <mat-form-field appearance="outline" class="col-md-6">
      <mat-label>Nombre de la calle</mat-label>
      <input type="text" matInput formControlName="nombre_Calle" readonly />
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-md-6">
      <mat-label>Asentamiento</mat-label>
      <input type="text" matInput formControlName="asentamiento" readonly />
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="outline" class="col-md-6">
      <mat-label>Tipo de asentamiento</mat-label>
      <input
        type="text"
        matInput
        readonly
        value="{{ tipo_asentamiento(tipo_as) }}"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-md-6">
      <mat-label>Municipio</mat-label>
      <input type="text" matInput value="{{ municipio(mncp) }}" readonly />
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="outline" class="col-md-4">
      <mat-label>Ciudad</mat-label>
      <input type="text" matInput formControlName="ciudad" readonly />
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-md-4">
      <mat-label>Codigo Postal</mat-label>
      <input type="text" matInput formControlName="codigoPostal" readonly />
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-md-4">
      <mat-label>N. de casa</mat-label>
      <input type="text" matInput formControlName="nCasa" readonly />
    </mat-form-field>
  </div>
</form>
