<div class="search-div">
  <button mat-raised-button (click)="onCreate()">
    <mat-icon>add</mat-icon>Agregar
  </button>
  <mat-form-field class="search-form-field" appearance="outline">
    <mat-label>Buscar por: Nombre, Lugar</mat-label>
    <input
      matInput
      placeholder="Buscar"
      autocomplete="off"
      (keyup)="applyFilter()"
      [(ngModel)]="searchKey"
    />
    <button
      mat-button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="onSearchClear()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<mat-tab-group>
  <mat-tab label="Torneos">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- Nombre Column -->
        <ng-container matColumnDef="Nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
          <td mat-cell *matCellDef="let row">{{ row.nombre }}</td>
        </ng-container>
        <!-- Lugar Column -->
        <ng-container matColumnDef="Lugar">
          <th mat-header-cell *matHeaderCellDef>Lugar</th>
          <td mat-cell *matCellDef="let row">{{ row.lugar }}</td>
        </ng-container>
        <!-- Fecha Column -->
        <ng-container matColumnDef="Fecha">
          <th mat-header-cell *matHeaderCellDef>Fecha</th>
          <td mat-cell *matCellDef="let row">
            {{ row.fecha }}
          </td>
        </ng-container>
        <!-- Hora Column -->
        <ng-container matColumnDef="Hora">
          <th mat-header-cell *matHeaderCellDef>Hora</th>
          <td mat-cell *matCellDef="let row">{{ row.hora }}</td>
        </ng-container>
        <!-- Acciones Column -->
        <ng-container matColumnDef="Acciones">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let row">
            <div class="actions">
              <button
                mat-icon-button
                matTooltip="Agregar alumno"
                (click)="onAdd(row.id)"
                id="add"
              >
                <mat-icon>add_circle_outline</mat-icon>
              </button>
              <button
                mat-icon-button
                matTooltip="Mas informacion"
                (click)="onLaunch(row.id, row.deleted)"
                id="launch"
              >
                <mat-icon>launch</mat-icon>
              </button>
              <button
                mat-icon-button
                matTooltip="Editar"
                (click)="onEdit(row.id)"
                id="edit"
              >
                <mat-icon>create</mat-icon>
              </button>
              <button
                mat-icon-button
                matTooltip="Eliminar"
                (click)="onDelete(row.id)"
                id="delete"
              >
                <mat-icon>delete_outline</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
    </div>
  </mat-tab>
  <mat-tab label="Historial">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSourceHistory" matSort>
        <!-- Nombre Column -->
        <ng-container matColumnDef="Nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
          <td mat-cell *matCellDef="let row">{{ row.nombre }}</td>
        </ng-container>
        <!-- Lugar Column -->
        <ng-container matColumnDef="Lugar">
          <th mat-header-cell *matHeaderCellDef>Lugar</th>
          <td mat-cell *matCellDef="let row">{{ row.lugar }}</td>
        </ng-container>
        <!-- Fecha Column -->
        <ng-container matColumnDef="Fecha">
          <th mat-header-cell *matHeaderCellDef>Fecha</th>
          <td mat-cell *matCellDef="let row">
            {{ row.fecha }}
          </td>
        </ng-container>
        <!-- Hora Column -->
        <ng-container matColumnDef="Hora">
          <th mat-header-cell *matHeaderCellDef>Hora</th>
          <td mat-cell *matCellDef="let row">{{ row.hora }}</td>
        </ng-container>
        <!-- Acciones Column -->
        <ng-container matColumnDef="Acciones">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let row">
            <div class="actions">
              <button
                mat-icon-button
                matTooltip="Mas informacion"
                (click)="onLaunch(row.id, row.deleted)"
                id="launch"
              >
                <mat-icon>launch</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsHistory"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsHistory"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
    </div>
  </mat-tab>
</mat-tab-group>
