<mat-toolbar style="margin-bottom: 20px">
  <span>Agregar alumnos</span>

  <span class="fill-remaining-space"></span>
  <button
    class="btn-dialog-close"
    mat-stroked-button
    (click)="onClose()"
    tabIndex="-1"
  >
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>
<div class="search-div" style="width: 100%">
  <mat-form-field
    class="search-form-field"
    appearance="outline"
    style="width: 60%"
  >
    <mat-label>Buscar por: Nombre, Apellido o ID</mat-label>
    <input
      matInput
      placeholder="Buscar"
      autocomplete="off"
      (keyup)="applyFilter()"
      [(ngModel)]="searchKey"
    />
    <button
      mat-button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="onSearchClear()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<app-loading-spiner *ngIf="showSpinner"></app-loading-spiner>
<div class="mat-elevation-z8" *ngIf="!showSpinner">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- ID Column -->
    <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let row">{{ row.fakeId }}</td>
    </ng-container>
    <!-- Nombre Column -->
    <ng-container matColumnDef="Nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let row">{{ row.nombre }}</td>
    </ng-container>
    <!-- Apellidos Column -->
    <ng-container matColumnDef="Apellidos">
      <th mat-header-cell *matHeaderCellDef>Apellidos</th>
      <td mat-cell *matCellDef="let row">
        {{ row.primerApellido + " " + (row.segundoApellido || "") }}
      </td>
    </ng-container>
    <!-- Correo Column -->
    <ng-container matColumnDef="N. de Telefono">
      <th mat-header-cell *matHeaderCellDef>N. de Telefono</th>
      <td mat-cell *matCellDef="let row">{{ row.n_telefono }}</td>
    </ng-container>
    <!-- Acciones Column -->
    <ng-container matColumnDef="Acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let row">
        <div class="actions">
          <button
            mat-icon-button
            matTooltip="Agregar al torneo"
            (click)="onAdd(row.id)"
            id="add"
          >
            <mat-icon>add_circle_outline</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
</div>
