<div class="container-fluid">
  <div class="align-middle">
    <div class="row">
      <div class="col-md-8 text-center extra-information">
        <div class="">
          <h2>Tae kwon do</h2>
          <h2>Oaxaca</h2>
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/b/be/Lineage_OS_Logo.png"
            alt=""
            class="img-fluid"
          />
          <h2>Misión:</h2>
          <h3>
            Formar seres humanos exhaustivos en un entorno globalizado a través
            de los artes marciales especializados en Tae kwon do con principios
            de respeto, disciplina, perseverancia, autocontrol, cortesía y
            espíritu competitivo. Desarrollando en nuestros estudiantes
            capacidades para desempeñarse como líderes en sus campos
            profesionales en cualquier lugar del mundo.
          </h3>
        </div>
      </div>
      <div class="col-md-4 login-container">
        <h1>Bienvenido</h1>
        <h2>Instructor</h2>
        <div class="example-card">
          <app-loading-spiner *ngIf="this.showSpinner"></app-loading-spiner>
          <form
            [formGroup]="loginForm"
            (ngSubmit)="loginUser()"
            *ngIf="!this.showSpinner"
          >
            <!-- email -->
            <mat-form-field appearance="outline" class="d-block">
              <mat-label>Correo</mat-label>
              <input
                matInput
                type="email"
                [errorStateMatcher]="matcher"
                placeholder="Email"
                formControlName="emailFormControl"
              />
              <mat-icon matSuffix>email</mat-icon>
              <mat-error
                *ngIf="
                  loginForm.controls.emailFormControl.hasError('email') &&
                  !loginForm.controls.emailFormControl.hasError('required')
                "
              >
                Ingrese una direccion de correo valida
              </mat-error>
              <mat-error
                *ngIf="loginForm.controls.emailFormControl.hasError('required')"
              >
                Ingrese una direccion de correo
              </mat-error>
            </mat-form-field>
            <!-- password -->
            <mat-form-field appearance="outline" class="d-block">
              <mat-label>Contrasena</mat-label>
              <input
                matInput
                placeholder="Placeholder"
                type="password"
                [errorStateMatcher]="matcher"
                formControlName="passwordFormControl"
              />
              <mat-icon matSuffix>vpn_key</mat-icon>
              <mat-error
                *ngIf="loginForm.controls.emailFormControl.hasError('required')"
              >
                Ingrese una contrasena
              </mat-error>
            </mat-form-field>
            <div class="d-flex justify-content-center">
              <button
                mat-raised-button
                color="primary"
                type="submit"
                [disabled]="!loginForm.valid"
              >
                Ingresar
              </button>
            </div>
            <div class="d-flex justify-content-center mt-2">
              <button mat-raised-button color="accent" (click)="forgetPass()">
                ¿Olvido su contrasena?
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
