.container-fluid {
  background-image: url("https://wallpaperaccess.com/full/135642.jpg");
  background-size: cover;
  padding: 40px;
  height: 100%;
}

/* EXTRA INFORMATION */
.extra-information {
  background-color: rgba(rgba(139, 37, 37, 0.534));
  padding: 40px;
  text-align: center;
  font-size: 40px;
  display: block;
  font-family: Quicksand !important;
}

.extra-information img {
  width: 400px;
  margin: 20px 0 60px 0px;
}

.extra-information h3 {
  font-size: 20px;
}
/* LOGIN CONTAINER */
.login-container {
  background: rgba(12, 12, 23, 0.55);
  border-radius: 10px;
  padding: 20px 0px 0px 0px;
  font-family: Quicksand;
  text-align: center;
  align-content: center;
  height: fit-content;
}

.login-container h1 {
  color: white;
  background-color: transparent !important;
}

.login-container h2 {
  color: white;
}

.login-container button {
  width: 200px;
}

.example-card {
  margin: 20px 20px 50px 20px;
  background-color: rgba(255, 255, 255, 0.76);
  border-radius: 10px;
  padding: 25px;
}
/* INFORMATION LABEL */
label {
  color: white;
  font-weight: 500;
}

@media (max-width: 576px) {
  .container-fluid {
    background-image: none;
  }
}
