.sidenav-container {
  height: 100%;
  font-family: "Quicksand" !important;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-drawer-container {
  background-color: white !important;
}

.marg_left {
  margin-left: 5px;
}

mat-nav-list mat-icon {
  margin-top: -18px;
}

mat-list-item mat-icon {
  color: #32429c;
}

.active {
  background-color: #676f6f57;
}

mat-sidenav-content .active-module {
  padding: 20px;
}

.mat-toolbar {
  font-family: "Quicksand" !important;
  font-weight: bold;
}

.menu {
  background-color: white !important;
  color: black !important;
  font-family: "Quicksand";
  font-weight: bold;
}

@media (max-width: 900px) {
  .none {
    display: none;
  }
}
