<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
  >
    <mat-toolbar class="menu">Menú</mat-toolbar>
    <mat-nav-list>
      <mat-list-item
        routerLink="instructores"
        routerLinkActive="active"
        class="justify-content-center align-items-left"
      >
        <mat-icon matSuffix class="left">supervisor_account </mat-icon>
        <p class="ml-2">Instructores</p>
      </mat-list-item>
      <mat-list-item
        routerLink="alumnos"
        routerLinkActive="active"
        class="justify-content-center align-items-left"
      >
        <mat-icon matSuffix>perm_identity </mat-icon>
        <p class="ml-2">Alumnos</p>
      </mat-list-item>
      <mat-list-item
        routerLink="inscripciones"
        routerLinkActive="active"
        class="justify-content-center align-items-left"
      >
        <mat-icon matSuffix>how_to_reg </mat-icon>
        <p class="ml-2">Inscripciones</p>
      </mat-list-item>
      <mat-list-item
        routerLink="horarios"
        routerLinkActive="active"
        class="justify-content-center align-items-left"
      >
        <mat-icon matSuffix>schedule </mat-icon>
        <p class="ml-2">Clases</p>
      </mat-list-item>
      <mat-list-item
        routerLink="torneos"
        routerLinkActive="active"
        class="justify-content-center align-items-left"
      >
        <mat-icon matSuffix>toll</mat-icon>
        <p class="ml-2">Torneos</p>
      </mat-list-item>
      <mat-list-item
        routerLink="pagos"
        routerLinkActive="active"
        class="justify-content-center align-items-left"
      >
        <mat-icon matSuffix>payment</mat-icon>
        <p class="ml-2">Pagos</p>
      </mat-list-item>
      <mat-list-item
        (click)="logout()"
        class="justify-content-center align-items-left"
      >
        <mat-icon matSuffix>cancel_presentation</mat-icon>
        <p class="ml-2">Salir</p>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="d-flex justify-content-between">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="none"
        >Sistema web para el control de reportes de Taekwondo Huitzo</span
      >
      <div>
        <button mat-mini-fab (click)="aboutMe()" matTooltip="Acerca de mi">
          <mat-icon>account_circle </mat-icon>
        </button>
        <button
          mat-mini-fab
          matTooltip="Editar"
          (click)="edit()"
          style="margin-left: 5px;"
        >
          <mat-icon>create</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="active-module">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
