<mat-toolbar>
  <span>Detalles del alumno:</span>
  <span class="fill-remaining-space"></span>
  <button
    class="btn-dialog-close"
    mat-stroked-button
    (click)="onClose()"
    tabIndex="-1"
  >
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>

<app-loading-spiner *ngIf="this.showSpinner"></app-loading-spiner>
<form
  [formGroup]="service.form"
  class="normal-form"
  (submit)="onSubmit()"
  *ngIf="!showSpinner"
>
  <h1>Datos personales</h1>
  <mat-grid-list cols="2" rowHeight="400px">
    <mat-grid-tile>
      <div class="controles-container">
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input
            type="text"
            matInput
            placeholder="Nombre"
            formControlName="nombre"
            readonly
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Primer Apellido</mat-label>
          <input
            type="text"
            matInput
            placeholder="Primer Apellido"
            formControlName="primerApellido"
            readonly
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Segundo Apellido</mat-label>
          <input
            type="text"
            matInput
            placeholder="Segundo Apellido"
            formControlName="segundoApellido"
            readonly
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Numero de telefono</mat-label>
          <input
            type="text"
            matInput
            placeholder="Numero de telefono"
            formControlName="n_telefono"
            readonly
          />
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="controles-container">
        <mat-form-field appearance="outline">
          <mat-label>Fecha de nacimiento</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            placeholder="Fecha de nacimiento"
            formControlName="fecha_nacimiento"
            readonly
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
            disabled
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Correo</mat-label>
          <input
            type="email"
            matInput
            placeholder="Correo"
            formControlName="correo"
            readonly
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Grado</mat-label>
          <input
            type="text"
            matInput
            value="{{ grado(this.service.form.value.grado) }}"
            readonly
          />
        </mat-form-field>
        <div class="add-bottom-padding">
          <label>Genero: </label>
          <mat-radio-group formControlName="genero">
            <mat-radio-button value="1" color="primary" disabled
              >Masculino</mat-radio-button
            >
            <mat-radio-button value="2" color="primary" disabled
              >Femenino</mat-radio-button
            >
          </mat-radio-group>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  <h1>Datos del domicilio</h1>
  <mat-grid-list cols="2" rowHeight="380px">
    <mat-grid-tile>
      <div class="controles-container">
        <mat-form-field appearance="outline">
          <mat-label>Nombre de la calle</mat-label>
          <input type="text" matInput formControlName="nombre_Calle" readonly />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>N. de casa</mat-label>
          <input type="text" matInput formControlName="nCasa" readonly />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Asentamiento</mat-label>
          <input type="text" matInput formControlName="asentamiento" readonly />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Tipo de asentamiento</mat-label>
          <input
            type="text"
            matInput
            readonly
            value="{{
              tipo_asentamiento(this.service.form.value.tipo_asentamiento)
            }}"
          />
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="controles-container">
        <mat-form-field appearance="outline">
          <mat-label>Ciudad</mat-label>
          <input type="text" matInput formControlName="ciudad" readonly />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Municipio</mat-label>
          <input
            type="text"
            matInput
            value="{{ municipio(this.service.form.value.municipio) }}"
            readonly
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Codigo Postal</mat-label>
          <input type="text" matInput formControlName="codigoPostal" readonly />
        </mat-form-field>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <h1>Clase</h1>
  <mat-form-field appearance="outline" class="clase">
    <mat-label>Clase</mat-label>
    <mat-select formControlName="clase" [errorStateMatcher]="matcher">
      <mat-option
        *ngFor="let item of data | async | select: 'allClases'"
        [value]="item.id"
        disabled
      >
        {{
          "De " +
            item.hora_inicio +
            " a " +
            item.hora_termino +
            ", " +
            item.instructor
        }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
