<mat-toolbar>
  <span *ngIf="!isEdited">Agregar pago</span>
  <span *ngIf="isEdited">Editar pago</span>
  <span class="fill-remaining-space"></span>
  <button
    class="btn-dialog-close"
    mat-stroked-button
    (click)="onClose()"
    tabIndex="-1"
  >
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>

<app-loading-spiner *ngIf="loading"></app-loading-spiner>
<form
  [formGroup]="service.form"
  class="normal-form"
  (submit)="onSubmit()"
  *ngIf="!loading"
>
  <mat-grid-list cols="1" rowHeight="100px">
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Alumno</mat-label>
        <mat-select formControlName="id_alumno" [errorStateMatcher]="matcher">
          <mat-option
            value="{{ item.payload.doc.id }}"
            *ngFor="let item of alumnos | async"
          >
            {{
              item.payload.doc.data().nombre +
                " " +
                item.payload.doc.data().primerApellido +
                " " +
                (item.payload.doc.data().segundoApellido + " ")
            }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="service.form.controls.id_alumno.hasError('required')">
          El alumno es <strong> requerido </strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Fecha</mat-label>
        <input
          type="text"
          matInput
          placeholder="Fecha"
          formControlName="fecha"
          [errorStateMatcher]="matcher"
          readonly
        />
        <mat-error *ngIf="service.form.controls.fecha.hasError('required')">
          La fecha es <strong>requerida</strong>
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Concepto</mat-label>
        <mat-select formControlName="concepto" [errorStateMatcher]="matcher">
          <mat-option value="examen">Examen</mat-option>
          <mat-option value="mensualidad">Mensualidad</mat-option>
          <mat-option value="inscripcion">Inscripcion</mat-option>
          <mat-option value="reinscripcion">Reinscripcion</mat-option>
          <mat-option value="otro">Otro</mat-option>
        </mat-select>
        <mat-error *ngIf="service.form.controls.concepto.hasError('required')">
          El concepto es <strong> requerido </strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Monto</mat-label>
        <input
          type="number"
          matInput
          placeholder="Monto"
          formControlName="monto"
          [errorStateMatcher]="matcher"
        />
        <mat-error *ngIf="service.form.controls.monto.hasError('required')">
          El monto es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="save">
    <span></span>
    <span class="fill-remaining-space"></span>
    <button
      [disabled]="!service.form.valid"
      mat-raised-button
      color="primary"
      tabIndex="-1"
    >
      <span *ngIf="isEdited">Editar</span>
      <span *ngIf="!isEdited">Agregar</span>
    </button>
  </div>
</form>
