@import "~@angular/material/theming";

@include mat-core();

$my-theme-primary: mat-palette($mat-indigo);
$my-theme-accent: mat-palette($mat-gray, A200, A100, A400);
$my-theme-warn: mat-palette($mat-red);
$custom-typography: mat-typography-config(
  $font-family: '"Quicksand", Roboto;'
);

$my-theme: mat-light-theme($my-theme-primary, $my-theme-accent, $my-theme-warn);

@include angular-material-theme($my-theme);
@include mat-core($custom-typography);
